<div class="container-fluid m-0 p-0 background">
  <div class="row row-bg m-4">
    <div class="col-md-6">
      <button class="btn btn-success">New sale</button>
      <button class="btn btn-success ml-4">Todays sale</button>


    </div>
    <div class="col-md-6 custom-float pl-4 pr-4">
      <button class="ml-4 custom-btnx">
        <i class="fa fa-align-justify" aria-hidden="true"></i>

      </button>
      <button class="ml-4 custom-btnx">
        <i class="fa fa-keyboard-o" aria-hidden="true"></i>

      </button>



    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-md-2 p-0 m-0">
          <button *ngFor="let item of categoryButtons;let i = index" class="btn custom-btn mt-3" (click)="specificCategoryProduct(item,i)" [ngClass]="{backbutton: selectedbutton == i}">{{item.name}}</button>

        </div>
        <div class="col-md-10">
          <div class="row mt-3">
            <div class="col-md-6">
              <input [matKeyboard]  type="text" class="form-control" placeholder="Search Product"  [(ngModel)]="term">

            </div>
            <div class="col-md-6">
              <select class="form-control">
                <option value="1">Select Options</option>
              </select>

            </div>
          </div>

          <div class="row mt-3 specific-height">
            <div class="container" *ngIf="products.length < 1">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="justify-content: center;">
                <p style="color: #675ef3;
                font-size: x-large;
                text-align: center;">No Record Found</p>
                <img src="/assets/noRecord.svg" alt="" style="width: 100%;">
              </div>
            </div>
            <div class="col-md-3" *ngFor="let product of products |filter:term">
              <div class="card main-card mt-3 " [ngClass]="{selected: product.selected}"  (click)="AddtoCart(product)">
                <div class="card-body card-custom">
                  <img [src]="product.image" alt="" style="width: 100%; height: 100%;">
                  <span class="selectedInteger" *ngIf="product.selected">{{product.index}}</span>
                </div>
                <div class="">
                  <p class="custom-p">{{product.name}}</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="row mt-3">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <input [matKeyboard]  type="text" placeholder="Barcode or QR-Code scanner" class="form-control">

            </div>
            <div class="col-md-2">
              <span>OR</span>

            </div>
            <div class="col-md-5">
              <input [matKeyboard]  type="text" placeholder="Manual Input [matKeyboard]  Barcode" class="form-control">


            </div>
          </div>

          <div class="row mt-3">
            <div class="col-5 pr-0 mr-0">
              <input [matKeyboard]  type="text" placeholder="Barcode or QR-Code scanner" class="form-control">

            </div>
            <div class="col-2 p-0 m-0">
                <button class="btn btn-success">+</button>
            </div>
            <div class="col-md-5">
             <p>Invoice No: <span>1019</span></p>

            </div>
          </div>

          </div>

        </div>
        <!-- table row  -->
        <div class="row mt-4">
          <div class="table-responsive">
            <table class="table table-hover table-responsive" *ngIf="selectedProduct.length>0">
              <thead>
                <tr>
                  <th>Item Information</th>
                  <th>Serial</th>
                  <th>Av.qnty</th>
                  <th>Qnty</th>
                  <th>Rate</th>
                  <th>Dis %</th>
                  <th>Total</th>
                  <th>Action...........</th>

                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of selectedProduct">
                  <td>{{item.name}}</td>
                  <td>
                    <select class="form-control">
                      <option value="">{{item.serial}}</option>
                    </select>
                  </td>
                  <td>
                    <input [matKeyboard]  type="text" class="form-control" [(ngModel)]="item.availableQuantity" disabled>
                  </td>
                  <td>
                    <input [matKeyboard]  type="text" class="form-control" [(ngModel)]="item.quantity" (keyup)="updateTotal(item)">
                  </td>
                  <td>
                    <input [matKeyboard]  type="text" class="form-control" [(ngModel)]="item.price" (keyup)="updateTotal(item)">
                  </td>
                  <td>
                    <input [matKeyboard]  type="text" class="form-control" [(ngModel)]="item.discount" (keyup)="updateTotal(item)">
                  </td>
                  <td>
                    <input [matKeyboard]  type="text" class="form-control" [(ngModel)]="item.totalPrice" disabled>
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="removeItemFromCart(item)">
                      <i class="fa fa-times" aria-hidden="true" ></i>

                    </button>
                    <button class="btn btn-success">
                      <i class="fa fa-eye" aria-hidden="true"></i>

                    </button>
                  </td>

                </tr>
              </tbody>

            </table>

          </div>


        </div>
        <!-- cast row  -->

        <div class="row custom-right">
          <div class="col-md-9">
            <!-- ist  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Sale Discount:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="number" placeholder="0.00" class="form-control" [(ngModel)]="saleDiscount" (keyup)="totalFare('saleDiscount') " ng-virtual-keyboard>
              </div>
            </div>
            <!-- 2nd  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Total Discount:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="number" placeholder="0.00" class="form-control" [(ngModel)]="totalDiscount" (keyup)="totalFare('totalDiscount')" ng-virtual-keyboard>
              </div>
            </div>
            <!-- 3rd  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Total Tax:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="number" placeholder="0.00" class="form-control" [(ngModel)]="totalTax" (keyup)="totalFare('totalTax')">
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary">
                  <i class="fa fa-angle-double-up" aria-hidden="true"></i>

                </button>
              </div>
            </div>

            <!-- 4th  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Shipping Cost:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="number" placeholder="0.00" class="form-control" [(ngModel)]="shippingCost" (keyup)="totalFare('shippingCost')">
              </div>
            </div>
            <!-- 5th  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Grand Total:</span>
              </div>
              <div class="col-md-6">
                <p class="form-control">`{{calcGrandTotal}}</p>
                <!-- <input [matKeyboard]  type="text" placeholder="0.00" class="form-control" [(ngModel)]="calcGrandTotal"> -->
              </div>
            </div>
            <!-- 6th  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Previous:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="text" placeholder="0.00" class="form-control">
              </div>
            </div>
            <!-- 7th  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>keyup:</span>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="text" placeholder="0.00" class="form-control">
              </div>
            </div>

            <!-- 8th  -->
            <div class="row mt-2">
              <div class="col-md-4">
                <span>Save:</span>
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary" (click)="saveData()">Save</button>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

    <!-- bottom nav bar  -->
    <div class="row bottom-nav p-3" *ngIf="display">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
             <p>Net Total:<span>{{calcGrandTotal}}</span></p>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-6">
                <p>Paid Amount</p>
              </div>
              <div class="col-md-6">
                <input [matKeyboard]  type="text" placeholder="9.630" class="form-control">

              </div>
            </div>

          </div>
          <div class="col-md-2">
            <p>Due: <span>0</span></p>

          </div>
        </div>

      </div>
      <div class="col-md-6 ">
        <div class="row custom-float">
          <div class="col-md-6">
            <button class="btn btn-warning" (click)="SaveSale()">Full Paid</button>
            <button class="btn btn-success ml-1" (click)="SaveSale()">Save Sale</button>
            <button class="btn btn-primary ml-1"><i class="fa fa-calculator" aria-hidden="true"></i></button>
          </div>
        </div>

      </div>
      </div>
  </div>


